* {
    padding: 0;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
}

p {
    height: 0.3rem;
}

.new_box {
    margin-top: 4.7rem;
    height: 30rem;
    width: 40rem;
    background-image: linear-gradient(180deg,black,cyan,black);
    animation: myanim 4s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes myanim {
    from {
        transform: translateY(-700px);
    }
    to {
        transform: translateY(550px);
    }
}

.box {
    position: absolute;
    margin-top: 7rem;
    background-color: black;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 10%;
    box-shadow: 0rem 1rem 2rem cyan;
}

.nav {
    color:darkcyan;
    margin-left: 5.5rem;
    font-size: 2.5rem;
    font-weight: bolder;
}

input {
    font-style: italic;
    font-size: 1.3rem;
    border-bottom: 1px solid white;
    background-color: wheat;
    width: 18rem;
    height: 2rem;
}

label {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: lighter;
    color: cyan;
}
.user1:focus~.user2{
    color: wheat;
}
.pin1:focus~.pin2{
    color: wheat;
}

.login {
    color: blanchedalmond;
    font-weight: bold;
    background-color: black;
    margin-left: 3.5rem;
    height: 2.5rem;
    width: 6rem;
    font-size: 1.5rem;
    border-radius: 10%;
    box-shadow: 0rem 0rem 1rem white;
}
.login:hover{
    color:black;
    background-color: khaki;
    box-shadow: 0rem 0rem 1rem cyan;
}

.google {
    border: 0;
    margin-left: 2.5rem;
    height: 2rem;
    width: 13.5rem;
    font-size: large;
    color: aliceblue;
    background-color: red;
}

.fb {
    font-size: large;
    border: 0;
    margin-left: 2.5rem;
    height: 2rem;
    width: 13.5rem;
    color: white;
    background-color: blue;
}

a {
    color: rgb(33, 53, 235);
}